body {
    background-color: #303030;
    color: #eeeeee;
}

main {
    padding: 1rem;
}

h1 {
    text-align: center;
}

h2 {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #777777
}

#perfil {
    position: absolute;
    right: 5%;
    border: 3px solid #eeeeee;
    width: 20vw;
    z-index: -1;
}

article {
    border: 2px solid #eeeeee;
    padding: 1rem;
    display: inline-block;
    border-radius: 5px;
    background-color: #303030;
    box-shadow: 12px 12px 2px 1px rgb(0 0 255 / 0.2);
}

.articulos {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 70%;
    justify-content: center;
    z-index: 5;
}

.articulos section {
    min-width: 30%;
    max-width: 50%;
}

ol, ul {
    margin: 0;
}

footer {
    margin: 1rem;
    position: absolute;
    bottom: 0;
}

@media (max-width: 600px) {
    .articulos {
        max-width: 95%;
    }

    .articulos section {
        min-width: 90%;
    }

    footer {
        position: relative;
    }
/* 
    body {
        background-color: lightcoral;
    } */
}